{% extends 'base.html.twig' %}

{% block title %}Symfony RXJS{% endblock %}

{% block body %}
<h1 class="text-3xl text-lime-500">Symfony RX</h1>
<ul>
    <li>Symfony 6</li>
    <li>Webpack Encore</li>
    <li>TailwindCSS</li>
    <li><i class="fa-solid fa-user"></i></li>
    <li>Prettier</li>
    <li>Prettier</li>
</ul>
{% endblock %}
